.navbar-container {
  border-bottom: 4px solid var(--gray);
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.logo-section {
  display: flex;
  align-items: center;
  width: 20%;
}

.logo-section .logo-img {
  width: 16%;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 25px;
}

.logo-section .company-name {
  font-size: 1.5rem;
  font-family: var(--heading-font);
  font-weight: 600;
  color: var(--black);
}

.right-section {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.menu-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 53%;
  padding: 2px 5px;
}

.search-container {
  width: 40%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.search-input {
  width: 90%;
  padding: 5px;
  font-size: 1rem;
  background-color: var(--white);
  border: 2px solid var(--black);
  border-right: none;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: none;
}

.search-container img {
  width: 8%;
  background-color: var(--white);
  border: 2px solid var(--black);
  border-left: none;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 5px;
}

.menu-item {
  margin: 0px 5px;
  font-size: 1.25rem;
  list-style-type: none;
  padding: 10px;
  font-family: var(--text-font);
}

.menu-item:hover {
  cursor: pointer;
  color: var(--green);
}

.menu-bar-container {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.menu-bar {
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--gray);
}

@media (min-width: 200px) and (max-width: 450px) {
  .navbar-container {
    padding: 5px;
    border-bottom: 2px solid var(--gray);
  }

  .logo-section {
    width: 85%;
  }

  .logo-section .logo-img {
    width: 12%;
    margin-right: 12px;
  }

  .logo-section .company-name {
    font-size: 1.25rem;
  }

  .right-section {
    position: absolute;
    top: 50px;
    left: -100%;
    width: 100%;
    background-color: var(--white);
    flex-direction: column;
    transition: all 1s;
  }

  .right-section .search-container {
    margin: 5px auto;
    width: 90%;
  }

  .right-section .menu-section {
    width: 100%;
    padding: 5px 0px;
    flex-wrap: wrap;
  }

  .menu-bar-container {
    display: flex;
  }

  .menu-bar-container:hover + .right-section {
    left: 0px;
  }

  .right-section:hover {
    left: 0px;
  }
}

@media (min-width: 450px) and (max-width: 1000px) {
  .navbar-container {
    padding: 5px;
    border-bottom: 2px solid var(--gray);
  }

  .logo-section {
    width: 35%;
  }

  .logo-section .logo-img {
    width: 12%;
    margin-right: 12px;
  }

  .logo-section .company-name {
    font-size: 1.25rem;
  }

  .right-section {
    position: absolute;
    top: 40px;
    left: -100%;
    transition: all 1s;
    width: 100%;
    background-color: var(--white);
    flex-direction: column;
  }

  .right-section .search-container {
    margin: 5px auto;
    width: 60%;
  }

  .right-section .menu-section {
    width: 100%;
    padding: 5px 0px;
    flex-wrap: wrap;
  }

  .menu-bar-container {
    display: flex;
  }

  .menu-bar-container:hover + .right-section {
    left: 0px;
  }

  .right-section:hover {
    left: 0px;
  }
}

@media (min-width: 1000px) and (max-width: 1500px) {
  .logo-section {
    width: 30%;
  }

  .right-section {
    width: 70%;
  }
}
